body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

section {
  display: flex;
  gap: 32px;
  height: 87%;
  width: 100%;
}

.container {
  display: block;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  flex: 1;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  font-weight: 900;
  height: 5%;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 8%;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  width: 30%;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px;
  width: 70%;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, .06);
  border-radius: 4px;
  width: 250px;
  height: 250px;
  display: flex;
  padding: 16px;
  gap: 16px;
}